@import "main";

header {
  background: rgba(0, 0, 0, 0.5);
}

.map {
  grid-column: 1 / span 3;
  margin-top: -2rem;
}

label[for="form-extra"], #form-extra {display: none;}
textarea { min-height: 10em; }
