@import "main";

body .background {
  background-image: url(/img/impressum_background.jpg);
  @media (--large) {
    background-size: cover;
  }
}

@media (--large) {
  article {
    display: grid;
  }

  article {
    grid-template-columns: repeat(2, 1fr);
  }

  blockquote {
    grid-column: 1 / span 2;
  }

  .info {
    grid-column: 1;
  }

  .details, .responsible, .copyright {
    grid-column: 2;
  }
}
