---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Contact">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d690165.1185484787!2d11.502663834237135!3d47.49074140812301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477632533027bf63%3A0xbe6f8ef93fee8fec!2sPeter-Anich-Stra%C3%9Fe+6%2C+6300+W%C3%B6rgl%2C+Austria!5e0!3m2!1sen!2sde!4v1565723700063!5m2!1sen!2sde" allowfullscreen class="map"></iframe>

  <main>
    <article>
      <div>Peter-Anich-Straße 6, 6300 Wörgl, Austria</div>
      <div>47° 29' 25" N, 12° 3' 47" E (47.4902 N, 12.063 E)</div>

      <dl>
        <dt>E-Mail</dt>
        <dd><a href="mailto:kontakt@christen-wörgl.at">kontakt@christen-wörgl.at</a></dd>
        <dt>Worship</dt>
        <dd>Every Sunday at 9 AM</dd>
        <dt>Sermon</dt>
        <dd>Every Sunday at 10:15 AM</dd>
      </dl>

      <p>
        We kindly request that you let us know in advance of your arrival using the
        e-mail address above or the contact form.<br />
        In parallel to the sermon we also provide a sunday school for interested
        kids or teens. Be aware that they will be held in German language though.
      </p>

      <form name="contact-en" method="POST" netlify-honeypot="extra" data-netlify="true">
        <label for="form-extra">Extra</label>
        <input type="text" name="extra" id="form-extra" />

        <div class="row">
          <div class="col">
            <label for="form-name">Name</label>
            <input type="text" name="name" id="form-name" placeholder="John Smith" />
          </div>
        </div>

        <div class="row" >
          <div class="col">
            <label for="form-email">E-mail address</label>
            <input type="email" name="email" id="form-email" placeholder="max@mustermann.at" />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="form-message">Message</label>
            <textarea name="message" id="form-message" placeholder="Greetings..."></textarea>
          </div>
        </div>

        <input type="submit" value="Send" />
      </form>
    </article>
  </main>
</Layout>
<style>
iframe {
  border: 0;
  width: 100%;
}
</style>
