---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Links">
  <div class="background"/>
  <main>
    <article>
      <p>
        Eine kleine Sammlung nützlicher Links die von uns empfohlen werden.
      </p>

      <ul>
        <li>Das <a href="https://heukelbach.org/" target="_blank">Missionswerk Werner Heukelbach</a>. Mit Radio, Videos, Kursen, und vielem mehr.</a></li>
        <li><a href="https://life-is-more.at/" target="_blank">Life is More e.V.</a> Ein christliches Web-Portal mit viel Lesematerial und wunderschönen Kalendern.</li>
        <li><a href="https://www.leseplatz.de/" target="_blank">Leseplatz</a> von Wolfgang Bühne bietet ein vielfältiges Angebot an Büchern, Vorträgen, und anderen Medien an.</li>
        <li>Der <a href="https://www.bibleserver.com/" target="_blank">ERF Bibleserver</a>. Starte gleich hier und suche in mehr als 10 deutschen Bibelübersetzungen. Vergleiche verschiedene Übersetzungen einfach nebeneinander, notiere deine persönlichen Gedanken zu Bibelversen und lass dich inspirieren.</li>
        <li>Das christliche <a href="https://www.thecamp.at/" target="_blank">Zeltlager Niedernsill</a></li>
        <li>Die Studiengemeinschaft <a href="https://www.wort-und-wissen.org/" target="_blank">Wort &amp; Wissen</a> ist ein wissenschaftlicher gemeinnütziger Verein. Thematische Schwerpunkte der Arbeit bilden Grundlagenforschung und Bildungsarbeit im Spannungsfeld „Naturwissenschaft und christlicher Glaube“.</li>
      </ul>
    </article>
  </main>
</Layout>

<style>
.background {
  background-image: url(/img/links_background.jpg);
}
</style>
