${ background "about" }

<main>
  <article>
    <p>Wir sind eine etwa 70 Personen umfassende Gruppe aller Bildungs-, Sozial- und Altersstufen. Diese Gemeinschaft besteht in dieser Form schon seit über 30 Jahren. Unser Glaube orientiert sich alleine am Wort Gottes.</p>

    <p>Wir verwenden Bibeln, die sich am Urtext orientieren. Es ist uns sehr wichtig, biblische Aussagen, Weisungen und Lehren nur im Kontext des Alten und Neuen Testaments zu verstehen.</p>

    <p>Natürlich treffen alle Glieder unserer Gemeinschaft die Entscheidungen ihrer finanziellen und sozialen Belange unbeeinflusst und autonom.</p>

    <p>Wir lehnen es ab, uns Dachverbänden, Organisationen und Kirchen anzuschließen, um uns an keine Ordnungen und Lehren zu binden, welche von den klaren Aussagen der Bibel abweichen könnten.</p>

    <p>Wir anerkennen die Republik Österreich in all ihrer gesetzgeberischen und exekutiven Autorität.</p>

    <p>Wir pflegen regen Austausch und freundschaftlichen Kontakt zu anderen christlichen Gemeinden, bleiben allerdings in unseren Entscheidungen stets autonom und nur Gott verantwortlich. Unser Ziel ist es, gemeinsam Gott zu ehren und unseren Mitmenschen die Liebe des lebendigen Gottes, Jesus Christus, nahe zu bringen, wie es schon in den ersten Gemeinden des Neuen Testamentes war.</p>
  </article>
</main>
