${ background "activities" }

<main class="activities">
  <article>
    <div class="title">
      <h1>Vortragsreihe mit Oliver Bode</h1>
    </div>

    <div class="description">
      <a href="/download/flyer_irland.pdf" target="_blank">
        <h3>Irland - Reiseimpressionen der grünen Insel</h3>
        Freitag, 06.03.2020 - 19:30
      </a>

      <a href="/download/flyer_irland2.pdf" target="_blank">
        <h3>Segen - Von der Weisheit Irischer Segenssprüche</h3>
        Freitag, 13.03.2020 - 19:30
      </a>

      <a href="/download/flyer_irland3.pdf" target="_blank">
        <h3>Gesegnet Leben!</h3>
        Samstag, 14.03.2020 - 19:30
      </a>
    </div>
  </article>
</main>
