${ googleMap }

<main>
  <article>
    <h3>Due to CORONA requirements, it is not possible for us to welcome guests due to lack of space. That is why our meetings are limited to registered members of the Christian community in Wörgl.</h3>

    <div>Peter-Anich-Straße 6, 6300 Wörgl, Austria</div>
    <div>47° 29' 25" N, 12° 3' 47" E (47.4902 N, 12.063 E)</div>

    <dl>
      <dt>E-Mail</dt>
      <dd><a href="mailto:${ email  }">${ email }</a></dd>
      <dt>Worship</dt>
      <dd>Every Sunday at 9 AM</dd>
      <dt>Sermon</dt>
      <dd>Every Sunday at 10:15 AM</dd>
    </dl>

    <p>
      We kindly request that you let us know in advance of your arrival using the
      e-mail address above or the contact form.<br />
      In parallel to the sermon we also provide a sunday school for interested
      kids or teens. Be aware that they will be held in German language though.
    </p>

    <form name="contact-en" method="POST" netlify-honeypot="extra" data-netlify="true">
      <label for="form-extra">Extra</label>
      <input type="text" name="extra" id="form-extra" />

      <div class="row">
        <div class="col">
          <label for="form-name">Name</label>
          <input type="text" name="name" id="form-name" placeholder="John Smith" />
        </div>
      </div>

      <div class="row" >
        <div class="col">
          <label for="form-email">E-mail address</label>
          <input type="email" name="email" id="form-email" placeholder="max@mustermann.at" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="form-message">Message</label>
          <textarea name="message" id="form-message" placeholder="Greetings..."></textarea>
        </div>
      </div>

      <input type="submit" value="Absenden" />
    </form>
  </article>
</main>
