<!--
     title: Kontakt
     route: /de/contact.html
     css: contact.css
     map: true
     language: de
-->

<article>
  <div>Peter-Anich-Straße 6, 6300 Wörgl, Austria</div>
  <div>47° 29' 25" N, 12° 3' 47" E (47.4902 N, 12.063 E)</div>

  <dl>
    <dt>E-Mail</dt><dd><a href="mailto:kontakt@christen-wörgl.at">kontakt@christen-wörgl.at</a></dd>
    <dt>Gottesdienst</dt><dd>Jeden Sonntag um 09:00 Uhr</dd>
    <dt>Predigt</dt><dd>Jeden Sonntag ab 10:15 Uhr</dd>
  </dl>

  <p>
    Wir bitten aber um rechtzeitige Anmeldung über die oben angeführte e-mail
    Adresse oder das Kontakt Forumlar.<br />
    Parallel zur Predigt laden wir auch jeden Sonntag zu Schüler- und
    Kinderstunden ein. Dabei bemühen wir uns, Gottes Wort in altersgerechtem Maß
    zu vermitteln.
  </p>

  <form name="contact-de" method="POST" netlify-honeypot="extra" data-netlify="true">
    <label for="form-extra">Extra</label>
    <input type="text" name="extra"  id="form-extra" />

    <div class="row">
      <div class="col" >
        <label for="form-name">Name</label>
        <input type="text" name="name" id="form-name" placeholder="Max Mustermann" />
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <label for="form-message">Nachricht</label>
        <textarea name="message" id="form-message" placeholder="Grüße..."></textarea>
      </div>
    </div>

    <input type="submit" value="Absenden" />
  </form>
</article>
