<!--
title: Startseite
route: /index.html
css: home_de.css
background: true
language: de
vers:
  link: https://www.bibleserver.com/text/SLT/Johannes3
  text: Denn so sehr hat Gott die Welt geliebt, dass er seinen eingeborenen Sohn gab, auf dass alle, die an ihn glauben, nicht verloren gehen, sondern das ewige Leben haben.
  stelle: Johannes 3,16
-->

<article>
  {{ template "vers.tmpl" . }}

  <p>
    <b>Wir glauben, die Bibel ist Gottes Wort.</b> Es ist die inspirierte,
    absolute Wahrheit und vollständige Offenbarung Gottes.
  </p>

  <p>
    <b>Wir glauben, es gibt einen einzigen wahren Gott.</b> Er ist der Schöpfer
    aller Dinge, ewig, souverän, heilig und manifest in drei Personen: Vater,
    Sohn und Heiliger Geist.
  </p>
  <p>
    <b>Wir glauben, Jesus Christus ist Gott.</b> Er kam als Mensch auf diese
    Erde, war jedoch zugleich völlig Gott.<br />
    Er wurde von einer Jungfrau geboren, lebte ein sündloses Leben und starb am
    Kreuz für unsere Sünden. Er ist von den Toten auferstanden und sitzt zur
    Rechten des Vaters.
  </p>

  <p>
    <b>Wir glauben an das gegenwärtige Wirken des Heiligen Geistes.</b> Dieser
    wohnt in den Gläubigen, befähigt sie, ein göttliches Leben zu führen und dem
    Herrn zu dienen.
  </p>

  <p>
    <b>Wir glauben, Errettung geschieht einzig aus Gnade, durch den Glauben an
    Jesus Christus.</b> Jeder Mensch hat vor dem heiligen Gott gesündigt und
    kann nur durch Glauben an den Herrn Jesus Christus Vergebung finden. Er
    bekommt neues, ewiges Leben mit einer persönlichen Beziehung zu Gott. Hier
    auf Erden und im zukünftigen Himmel.
  </p>
</article>
