<!--
title: Home
route: /en/index.html
css: home_en.css
background: true
language: en
vers:
  link: https://www.bibleserver.com/text/SLT/Johannes3
  text: For God so loved the world that He gave his one and only Son, so that whoever believes in him shall not perish but have eternal life.
  stelle: John 3,16
-->

<article>
  {{ template "vers.tmpl" . }}

  <p>
​    <b>We believe the Bible is God’s Word.</b> It is the inspired, absolute truth
    and complete revelation of God.
  </p>

  <p>
    <b>We believe there is one true God.</b> He is the Creator of all things,
    Eternal, Sovereign, Holy and manifest himself in three persons: the Father,
    the Son, and the Holy Spirit.
  </p>

  <p>
    <b>We believe Jesus Christ is God.</b> He came to this earth as a man, yet
    fully God.<br />
    He was born of a virgin, lived a sinless life and died on the cross for our
    sins. He is risen from the dead and sits at the right of the Father.
  </p>

  <p>
    <b>We believe in the present ministry of the Holy Spirit.</b> He lives
    inside believers, enables them to live a godly life and to serve the Lord.
  </p>

  <p>
    <b>We believe salvation is by grace through faith in Jesus Christ.</b> Every
    person has sinned before the Holy God and only through believing in the Lord
    Jesus Christ can one find forgiveness and cleansing. He receives new eternal
    life with a personal relationship to God, here on earth and in the heavenly
    future.
  </p>
</article>
