<!DOCTYPE html>
<html lang="de" data-scroll="0">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Christen Wörgl - ${ title }</title>
    <link
      rel="shortcut icon"
      href="/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link rel="shortcut icon" href="/favicons/favicon32.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/favicons/favicon144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/favicons/favicon114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/favicons/favicon72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="/favicons/favicon57.png"
    />
    ${ css "main.css" }
  </head>

  <body>
    <header>
      <div class="nav-container">
        <nav>
          <input type="checkbox" id="nav-toggle" />
          <label for="nav-toggle" class="burger-menu">☰</label>

          <div class="left-menu">
            <a class="${ active route ''/index'' }" href="/">Startseite</a>
            <a class="${ active route ''/de/about'' }" href="/de/about"
              >Über uns</a
            >
            <a
              class="${ active route ''/de/activities'' }"
              href="/de/activities"
              >Aktivitäten</a
            >
            <a class="${ active route ''/de/contact'' }" href="/de/contact"
              >Kontakt</a
            >
            <a class="${ active route ''/de/impressum'' }" href="/de/impressum"
              >Impressum</a
            >
            <a class="${ active route ''/en/index'' }" href="/en">Home (en)</a>
            <a class="${ active route ''/en/contact'' }" href="/en/contact"
              >Contact (en)</a
            >
            <a href="https://forum.xn--christen-wrgl-rmb.at/">Login</a>
          </div>

          <a href="/" class="logo">
            <h1>Christen-Wörgl</h1>
          </a>
        </nav>
      </div>
    </header>

    ${ content }
    <footer>
      &copy; Verein zur Förderung christlicher Gemeinschaft, Unterinntal eV.
    </footer>
    <script src="/js/scroll.js"></script>
    ${ liveJS }
  </body>
</html>
