<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Christen Wörgl - {{ .title | default "" }}</title>
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicons/favicon32.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/favicon144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/favicon114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/favicon72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/favicon57.png">
    {{ .cssTag }}
  </head>
  <body>
    <header>
      <div class="nav-container">
        <nav>
          <input type="checkbox" id="nav-toggle">
          <label for="nav-toggle" class="burger-menu">☰</label>

          <div class="left-menu">
            <a {{ if eq .route "/index.html" }}class="active"{{ end }} href="/index.html">Startseite</a>
            <a {{ if eq .route "/about.html" }}class="active"{{ end }} href="/about.html">Über uns</a>
            <a {{ if eq .route "/de/contact.html" }}class="active"{{ end }} href="/de/contact.html">Kontakt</a>
            <a {{ if eq .route "/impressum.html" }}class="active"{{ end }} href="/impressum.html">Impressum</a>

            <a {{ if eq .route "/en/index.html" }}class="active"{{ end }} href="/en/index.html">Home (en)</a>
            <a {{ if eq .route "/en/contact.html" }}class="active"{{ end }} href="/en/contact.html">Contact (en)</a>

            <a href="https://forum.xn--christen-wrgl-rmb.at/">Login</a>
          </div>

          <a href="/" class="logo"><h1>Christen-Wörgl</h1></a>
        </nav>
      </div>
    </header>

    {{ if .map }}
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10783.923435570729!2d12.054233918196365!3d47.490286250119844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477632533027bf63%3A0xbe6f8ef93fee8fec!2sPeter-Anich-Stra%C3%9Fe+6%2C+6300+W%C3%B6rgl%2C+Austria!5e0!3m2!1sen!2sde!4v1565599389472!5m2!1sen!2sde" width="100%" frameborder="0" style="border:0" allowfullscreen class="map"></iframe>
    {{ else if .background }}
      <div class="background"></div>
    {{ end }}

    <main>
      {{ yield }}
    </main>

    {{ if .liveJS }}<script src="/js/live.js"></script>{{ end }}
  </body>
</html>
