${ background "links" }

<main>
  <article>
    <p>
      Eine kleine Sammlung n&uuml;tzlicher Links die von uns empfohlen werden.
    </p>

    <ul>
      <li>Das <a href="https://heukelbach.org/" target="_blank">Missionswerk Werner Heukelbach</a>. Mit Radio, Videos, Kursen, und vielem mehr.</a></li>
      <li><a href="https://life-is-more.at/" target="_blank">Life is More e.V.</a> Ein christliches Web-Portal mit viel Lesematerial und wundersch&ouml;nen Kalendern.</li>
      <li><a href="https://www.leseplatz.de/" target="_blank">Leseplatz</a> von Wolfgang B&uuml;hne bietet ein vielf&auml;ltiges Angebot an B&uuml;chern, Vortr&auml;gen, und anderen Medien an.</li>
      <li>Der <a href="https://www.bibleserver.com/" target="_blank">ERF Bibleserver</a>. Starte gleich hier und suche in mehr als 10 deutschen Bibelübersetzungen. Vergleiche verschiedene Übersetzungen einfach nebeneinander, notiere deine persönlichen Gedanken zu Bibelversen und lass dich inspirieren.</li>
      <li>Das christliche <a href="https://www.thecamp.at/" target="_blank">Zeltlager Niedernsill</a></li>
    </ul>
  </article>
</main>

